@import '../modules/sizes';
@import '../modules/colours';

header {
  position: fixed;
  top: 0;
  height: $header-height-1;
  width: 100vw;
  background-color: $white;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* Why do we need this container?
     If we apply the max-width property to the parent element, i.e. the header, then
     the background-color will not span the whole width of the page as the header element
     will only be as big as the max-width
     So we make the header the background element if you will and make the container hold
     the actual header elements
   */
  div.container {
    height: 100%;
    width: 100%;
    padding: 0 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 1250px;

    a {
      text-decoration: none;
      color: inherit;
    }

    div#logo {
      font-size: 1.6em;

      a {
        font-family: 'PT Serif', serif;
        font-weight: 700;
      }
    }

    nav {
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 1.1em;
        color: $light-grey;
        margin: 0;

        li {
          margin: 0 30px;
        }

        /* We want the last link to stick to the absolute right of the element as that's
           what the logo does on the left side of element as well
         */
        li:last-child {
          margin: 0 0 0 30px;
        }
      }
    }
  }
}

/* Remove container padding after 2500px, only use max-width
   Makes header look nicer on ultra-wide/high res displays
 */
@media screen and (min-width: $media-min-no-container-padding) {
  header div.container {
    padding: 0;
  }
}

/* Mobile header */
@media screen and (max-width: $media-max-header-size) {
 header {
   height: $header-height-2;

   div.container {
     justify-content: center;

     nav {
       display: none;
     }
   }
 }
}
