{{ define "html" }}

<head>
    {{- partial "head-content.html" . -}}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sam_mck" />
    <meta name="twitter:creator" content="@sam_mck" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
</head>
<body>
    {{- partial "header-relative.html" . -}}

    <article>
        <div id="article-header">
            <h1 id="title">{{ .Title }}</h1>

            <p id="details">{{ if ne .PublishDate .Lastmod }}<span>Last updated {{ .Lastmod.Format "January 2, 2006" }}</span> &mdash; <span>{{ end }}Published {{ .PublishDate.Format "January 2, 2006" }}</span></p>
        </div>
        <main>
            {{ .Content }}
        </main>

        {{- partial "newsletter.html" . -}}
    </article>

    {{- partial "mobile-navigation-absolute.html" . -}}

    {{ $cssOptions := dict "outputStyle" "compressed" }}
    {{ $style := resources.Get "styles/pages/blog-post.scss" | resources.ToCSS $cssOptions }}

    <style>
        {{ $style.Content | safeCSS }}
    </style>

    {{ if .Params.css }}
    {{ $customStyle := .Resources.GetMatch .Params.css | resources.ToCSS $cssOptions }}
    <style>
        {{ $customStyle.Content | safeCSS }}
    </style>
    {{ end }}

    {{ $jsOptions := dict "targetPath" "blog.js" "target" "es2015" "minify" true }}
    {{ $bundle := resources.Get "scripts/pages/blog-post.ts" | js.Build $jsOptions }}

    <script>
        {{ $bundle.Content | safeJS }}
    </script>
    {{ if .Params.js }}
    {{ $bundle := .Resources.GetMatch .Params.js | js.Build $jsOptions }}
    <script>
        {{ $bundle.Content | safeJS }}
    </script>
    {{ end }}

    {{- partial "analytics.html" . -}}
</body>

{{ end }}
