{{ define "html" }}

<head>
    {{- partial "head-content.html" . -}}
</head>

{{- partial "header-relative.html" . -}}

<article>
    <div id="article-header">
        <h1 id="title">{{ .Title }}</h1>

        <p id="details">{{ .PublishDate.Format "January 2, 2006" }}{{ if ne .PublishDate .Lastmod }} &mdash; last edit on {{ .Format "January 2, 2006" }}{{ end }}</p>
    </div>
    <main>
        {{ .Content }}
    </main>
</article>

{{ $scss := resources.Get "styles/pages/blog.scss" }}
{{ $options := (dict "outputStyle" "compressed") }}
{{ $style := $scss | resources.ToCSS $options }}

<style>
    {{ $style.Content | safeCSS }}
</style>

{{ end }}
