@import 'colours';

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

html {
  background-color: $white;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

p {
  margin: 0.2em 0;
}

a {
  text-decoration: none;
  color: $blue;
}

a:focus {
  background-color: #c3dcff;
  outline: 0;
  color: #171616;
  text-decoration: none;
  box-shadow: 0 0 #c3dcff, 0 2px #0b0c0c;
}

input, input:active, input:focus {
  outline: 0;
}

div.input {
  display: inline-block;

  label {
    display: block;
    font-size: 0.85em;
    font-weight: 500;
    margin-bottom: 0.3em;
  }
}

input {
  border: 1px solid #d7d7d7;
  padding: 0.6em;
  font-size: 0.85em;
  border-radius: 0.3em;
  font-family: "Source Sans Pro", sans-serif;
}

button, button:active, button:focus{
  outline: 0;
  border: 0;
}

button {
  padding: 0.6em 0.7em;
  font-size: 0.8em;
  border-radius: 0.3em;
  background-color: #282828;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.15);
}

a.button.black {
  background-color: #181818f0;
  color: $white;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.25em 0.7em;
  box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.15);
  transform: scale(1);
  transition: box-shadow .15s ease-in-out, background-color .2s ease-in-out, transform .1s ease-in-out;
}

a.button.black:hover {
  transform: scale(1.02);
  transition: box-shadow .15s ease-in-out, background-color .2s ease-in-out, transform .15s ease-in-out;
  box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,0.35);
  background-color: #0e0e0e;
}
