@import 'colours';

html {
  background-color: $white;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

p {
  margin: 7px 0;
}

a {
  text-decoration: underline;
  color: $blue;
}

input, input:active, input:focus {
  outline: 0;
}

button, button:active, button:focus{
  outline: 0;
  border: 0;
}
