$header-height-1: 100px;
$header-height-2: 70px;
$header-height-3: 50px;

$media-min-no-container-padding: 2500px;

$media-max-header-size: 850px;
$media-max-step-2: 550px;
$media-max-step-3: 420px;
$media-max-step-4: 380px;
