@import '../modules/sizes';

div.sections {
  position: relative;
  top: $header-height-1;
}

section {
  position: relative;
  height: calc(100vh - #{$header-height-1});
  min-height: 550px;
  max-height: 78vh;
  width: 100vw;
}

// Hack for broken hidden top part of section when linking to element
div.section {
  position: relative;
  top: -80px;
  width: 0;
  height: 0;
}

@media screen and (max-width: $media-max-header-size) {
  div.sections {
    top: $header-height-2;
  }
  section {
    height: calc(100vh - #{$header-height-2});
  }
}

@media screen and (max-width: $media-max-step-3) {
  div.sections {
    top: $header-height-3;
  }
  section {
    height: calc(100vh - #{$header-height-3});
  }
}
