@import '../modules/sizes';

section {
  position: relative;
  top: $header-height-1;
  height: calc(100vh - #{$header-height-1});
  max-height: 700px;
  width: 100vw;
}

@media screen and (max-width: $media-max-header-size) {
  section {
    top: $header-height-2;
    min-height: calc(100vh - #{$header-height-2});
  }
}

@media screen and (max-width: $media-max-step-3) {
  section {
    top: $header-height-3;
    min-height: calc(100vh - #{$header-height-3});
  }
}
