@import '../modules/sizes';

div.sections {
  position: relative;
  top: $header-height-1;
}

section {
  position: relative;
  width: 100vw;
}

section:not(:last-child) {
  // White space between sections
  padding-bottom: 6em;
}

@media screen and (max-width: $media-max-header-size) {
  div.sections {
    top: $header-height-2;
  }
}

@media screen and (max-width: $media-max-step-3) {
  div.sections {
    top: $header-height-3;
  }
}

// Hack for broken hidden top part of section when linking to element
div.section {
  position: relative;
  top: -80px;
  width: 0;
  height: 0;
}
