<nav>
    <div id="nav-button">
        <svg id="cross" width="260" height="260" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="37" y="208.827" width="243" height="21" rx="10.5" transform="rotate(-45 37 208.827)" fill="#323030"/>
            <rect x="51.8489" y="37" width="243" height="21" rx="10.5" transform="rotate(45 51.8489 37)" fill="#323030"/>
        </svg>
        <svg id="hamburger" width="260" height="260" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="9" y="48" width="243" height="21" rx="10.5" fill="#323030"/>
            <rect x="58" y="120" width="194" height="21" rx="10.5" fill="#323030"/>
            <rect x="9" y="192" width="243" height="21" rx="10.5" fill="#323030"/>
        </svg>

    </div>

    <div id="logo">
        <a class="full" href="/#">Sam Mckenzie</a>
        <a class="compact" href="#">SM</a>
    </div>
    <ul>
        {{ range .Site.Params.nav_link }}
        <li><a class="local-link" href="{{ .link | relLangURL }}">{{ .value }}</a></li>
        {{ end }}
    </ul>
</nav>