<div class="container">
    <div id="logo">
        <a class="full" href="#">Sam Mckenzie</a>
        <a class="compact" href="#">SM</a>
    </div>

    <nav>
        <ul>
            {{- with .Site.BaseURL -}}
                <li><a class="local-link" href="/#about">About</a></li>
                <li><a class="local-link" href="/#work">Work</a></li>
                <li><a class="local-link" href="/#contact">Contact</a></li>
                <li><a class="local-link" href="/blog">Blog</a></li>
            {{- end -}}
        </ul>
    </nav>
</div>
