{{ $image := .Resources.GetMatch (printf "%s.png" .Params.imageName) }}
{{ if .Params.imageName2 }}
<div class="showcase double">
    {{ $image2 := .Resources.GetMatch (printf "%s.png" .Params.imageName2) }}
    <picture>
        <source type="image/webp" srcset="/{{ .Site.Language.Lang }}/{{ .File.Dir }}{{ .Params.imageName }}_700w.webp" />
        <img src="/{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_700w.png" height="{{ $image.Height }}" width="{{ $image.Width }}" loading="lazy" alt="Image of project {{ .Title }}" />
    </picture>
    <picture>
        <source type="image/webp" srcset="/{{ .Site.Language.Lang }}/{{ .File.Dir }}{{ .Params.imageName2 }}_700w.webp" />
        <img src="/{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName2 }}_700w.png" height="{{ $image2.Height }}" width="{{ $image2.Width }}" loading="lazy" alt="Image of project {{ .Title }}" />
    </picture>
</div>
{{ else }}
<div class="showcase single">
    <picture>
        <source type="image/webp" srcset="
        /{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_700w.webp 700w,
        /{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_1100w.webp 1100w,
        /{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_1450w.webp 1450w,
        " sizes="(max-width: 700px) 700px, (max-width: 1100px) 1100px, 1450px" />
        <source type="image/png" srcset="
        /{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_700w.png 700w,
        /{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_1100w.png 1100w,
        /{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_1450w.png 1450w,
        " sizes="(max-width: 700px) 700px, (max-width: 1100px) 1100px, 1450px" />
        <img src="/{{ .Site.Language.Lang }}{{ .File.Dir }}{{ .Params.imageName }}_700w.png" height="{{ $image.Height }}" width="{{ $image.Width }}" loading="lazy" alt="Image of project {{ .Title }}" />
    </picture>
</div>
{{ end }}