@import '../modules/main';
@import '../modules/skip-link';
@import '../modules/colours';
@import '../modules/sizes';
@import '../layout/header';
@import '../layout/section';

section#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.container {
    max-width: 850px;
    position: relative;
    top: 10vh;

    padding: 25px;

    p {
      font-size: 1.6em;
      color: $dark-grey;
    }

    p:nth-child(1) {
      font-size: 2.2em;
    }

    span.email-me {
      position: relative;
      left: 0.3em;
      font-size: 1.4em;
      color: $light-grey;
    }

    a.button {
      margin-top: 0.4em;
      display: inline-block;
      font-size: 1.4em;
    }

    div.links {
      border-top: 1px solid #e6e5e5;
      margin: 0.6em 0 0 0;
      padding: 0.8em 0 0 0;
    }
  }
}

section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.container {
    position: relative;
    top: 15vh;

    padding: 25px;

    p {
      font-size: 1.6em;
      color: $dark-grey;
    }

    p:nth-child(1) {
      font-size: 2.4em;
    }
  }

  div#email-public-key {
    position: absolute;
    bottom: 2em;

    a {
      color: $light-grey;
      font-size: 1em;
      text-decoration: none;
    }
  }
}

section#work {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    position: relative;
    padding: 2.5em;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;

    div.work-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      div.side {
        display: flex;
        flex-direction: column;

        p, a {
          font-size: 1.4em;
        }
      }

      div.side.left {
        align-items: flex-end;
        padding: 0 40px 0 0;
        min-width: 200px;

        p.date {
          color: $light-grey;
          text-transform: uppercase;
          white-space: nowrap;
          font-weight: 600;
        }

        div.date-connector {
          position: relative;
          right: 25px;
          width: 2px;
          height: 100%;
          background-color: rgba(50, 48, 48, .1);
        }
      }

      div.side.right {
        flex-grow: 1;
        margin: 0 0 75px 0;

        div.header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          p, a {
            margin: 0;
          }

          p.title {
            font-size: 2em;
            color: $black;
          }

          a.project-link {
            text-decoration: none;
          }
        }

        p.description {
          color: $dark-grey;
        }

        div.showcase {
          margin: 25px auto 0 auto;
          width: 80%;

          img {
            width: 100%;
            height: auto;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
          }
        }
      }
    }

    div.work-item:last-child div.side.left div.date-connector {
      display: none;
    }
  }
}

@media screen and (max-width: #{$media-max-header-size}) {
  section#work > div div.work-item {
    flex-direction: column;

    div.date-connector {
      display: none;
    }

    div.side.left {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: #{$media-max-step-2}) {
  section#work > div div.work-item div.side.right {
    flex-direction: column;

    div.showcase {
      width: 100%;
    }

    div.header {
      flex-direction: column;
    }
  }

  section#contact div.container a#email-public-key-mobile {
    display: block;
  }

  section#introduction div.container, section#contact div.container {
    top: 5vh;
  }
}

@media screen and (max-width: #{$media-max-step-3}) {
  body {
    font-size: 0.9rem;
  }

  section#work > div {
    padding: 20px;
  }
}

@media screen and (max-width: #{$media-max-step-4}) {
  body {
    font-size: 0.85rem;
  }
}
