@import '../modules/main';
@import '../modules/skip-link';
@import '../modules/colours';
@import '../modules/sizes';
@import '../layout/header';
@import '../layout/section';
@import '../modules/fonts/fonts';
@import '../layout/mobile-navigation';
@import '../modules/newsletter';

section.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(180deg, rgba(251, 251, 251, 0) 0%, rgba(254, 254, 254, 0) 60%, #F4F6F6 100%);

  div.container {
    max-width: 850px;
    position: relative;

    padding: 14vh 1.7em;

    p {
      font-size: 1.6em;
      color: $dark-grey;
    }

    p:nth-child(1) {
      font-size: 2.2em;
    }

    span.email-me {
      position: relative;
      left: 0.3em;
      font-size: 1.4em;
      color: $light-grey;
    }

    a.button {
      margin-top: 0.4em;
      display: inline-block;
      font-size: 1.4em;
    }

    div.links {
      text-align: center;
      border-top: 1px solid #e6e5e5;
      margin: 0.6em 0 0 0;
      padding: 0.8em 0 0 0;
    }
  }
}

section.work {
  background-color: #F4F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5em 6em 5em;

  ul.left-column {
    margin: 0 2.4em 0 0;
  }
  ul.right-column {
    margin: 0 0 0 2.4em;
  }
  ul.left-column, ul.right-column {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    list-style-type: none;
    padding: 0;
    flex: 1;

    li.item {
      width: 100%;
      margin: 0 0 3em 0;
    }
    li.introduction {
      p.my-work {
        font-size: 2em;
      }
      p.work-account-links {
        color: $mid-grey;
        font-size: 1.4em;
      }
    }
    li.project {
      box-shadow: 5px 5px 20px rgba(4, 97, 97, 0.1);
      border-radius: 6px;
      background-color: $white;
      transition: box-shadow .1s ease-in-out;

      div.showcase {
        img {
          border-radius: 6px;
          width: 100%;
          height: auto;
        }
      }
      div.showcase.single {
        img {
          box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
        }
      }
      div.showcase.double {
        display: flex;
        flex-direction: row;
        padding: 0.8em 0.8em 0 0.8em;

        img {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          border-radius: 2px;
        }
        picture:nth-child(1) {
          margin-right: 0.3em;
        }
        picture:nth-child(2) {
          margin-left: 0.3em;
        }
      }
      div.content {
        padding: 0.6em 1.2em 0.9em 1.2em;

        div.header {
          margin: 0 0 0.5em 0;

          span.title {
            font-size: 1.6em;
            color: $dark-grey;
            font-weight: 600;
          }

          span.date {
            font-size: 1em;
            line-height: 1.8em;
            text-transform: uppercase;
            font-weight: 600;
            float: right;
            color: $light-grey;
          }
        }
        p.description {
          font-size: 1.2em;
          color: $mid-grey;
        }
        p.link {
          font-size: 1.2em;

          svg {
            position: relative;
            top: 0.22em;
            margin-right: 0.1em;
            height: 1.1em;
            width: 1.1em;
          }
        }
      }
    }
    li.project:hover {
      box-shadow: 5px 5px 20px rgba(4, 97, 97, 0.15);
      transition: box-shadow .1s ease-in-out;
    }
  }
}

section.contact {
  background-color: #F4F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25vh;

  div.container {
    position: relative;
    padding: 1.7em;

    p {
      font-size: 1.6em;
      color: $dark-grey;
    }

    p:nth-child(1) {
      font-size: 2.4em;
    }
  }

  div#email-public-key {
    position: relative;
    top: -0.7em;

    a {
      color: $light-grey;
      font-size: 1em;
      text-decoration: none;
    }
  }
}

// @media screen and (max-width: #{$media-max-step-2}) {
//   section.contact div.container a#email-public-key-mobile {
//     display: block;
//   }
// }

@media screen and (max-width: 700px) {
  section.home {
    span.email-me {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  section.work {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    ul.left-column, ul.right-column {
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  section.work {
    padding: 0 3em 6em 3em;
  }
}

@media screen and (max-width: 450px) {
  section.work {
    padding: 0 1.8em 6em 1.8em;
  }
}

@media screen and (max-width: #{$media-max-step-3}) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: #{$media-max-step-4}) {
  body {
    font-size: 0.85rem;
  }
}
