@import '../modules/main';
@import '../modules/skip-link';
@import '../modules/colours';
@import '../modules/sizes';
@import '../layout/header';
@import '../layout/section';
@import '../modules/fonts/fonts';

section#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.container {
    max-width: 850px;
    position: relative;
    top: 10vh;

    padding: 25px;

    p {
      font-size: 1.6em;
      color: $dark-grey;
    }

    p:nth-child(1) {
      font-size: 2.2em;
    }

    span.email-me {
      position: relative;
      left: 0.3em;
      font-size: 1.4em;
      color: $light-grey;
    }

    a.button {
      margin-top: 0.4em;
      display: inline-block;
      font-size: 1.4em;
    }

    div.links {
      border-top: 1px solid #e6e5e5;
      margin: 0.6em 0 0 0;
      padding: 0.8em 0 0 0;
    }
  }
}

section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.container {
    position: relative;
    top: 15vh;

    padding: 25px;

    p {
      font-size: 1.6em;
      color: $dark-grey;
    }

    p:nth-child(1) {
      font-size: 2.4em;
    }
  }

  div#email-public-key {
    position: absolute;
    bottom: 2em;

    a {
      color: $light-grey;
      font-size: 1em;
      text-decoration: none;
    }
  }
}

section#work {
  div.introduction {
    text-align: center;
    color: $dark-grey;

    p.my-work {
      font-weight: 600;
      font-size: 2.2em;
    }
    p.work-account-links {
      margin: 0 auto;
      max-width: 750px;
      font-size: 1.6em;
    }
  }

  ul.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;

    li.project {
      div.showcase {

      }

      div.content {
        color: $dark-grey;

        div.header {
          font-weight: 600;

          span.title {
            font-size: 1.6em;
          }
          span.date {
            float: right;
            font-size: 1.2em;
            text-transform: uppercase;
            color: $light-grey;
          }
        }
        p.description {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media screen and (max-width: #{$media-max-header-size}) {

}

@media screen and (max-width: #{$media-max-step-2}) {


  section#contact div.container a#email-public-key-mobile {
    display: block;
  }

  section#introduction div.container, section#contact div.container {
    top: 5vh;
  }
}

@media screen and (max-width: #{$media-max-step-3}) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: #{$media-max-step-4}) {
  body {
    font-size: 0.85rem;
  }
}
